HTML {
	position: relative;
	min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    text-align: left;
    color: black;
    width: 100%;
}
.header {
	position: sticky;
	top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #0c0e13;
    display: flex;
}
.header a {
    align-items: center;
    justify-content: center;
    text-align: justify;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 19px;
	border-radius: 4px;
    margin: 0 7px 0 7px;
}
.header a:hover {
	text-decoration: none;
}
.navigation {
	display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    white-space: nowrap;
}
.navigation a.logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin: 0 10px 0 20px;
}
.nav {
	list-style: none;
    padding: 0;
}
nav.account {
	color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: justify;
    padding: 0 30px 0 0;
}
.nav-item {
    display: contents;
    color: #fff;
    text-align: center;
}
.nav-link-active {
	color: #ff7676;
}
.nav-link {
	color: #fff;
}
.nav-link:after {
	display: flex;
	content: '';
	position: inherit;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
	transform: scaleX(1);
	text-decoration: underline;
	transform-origin: bottom left;
}
h4.headline {
    margin: 15px 0 5px 0;
    font-size: 23px;
    color: #1f2123;
}
div.wrapper {
	font-family: 'Oswald', sans-serif;
    display: flex;
    flex-flow: wrap;
	margin: 0 auto;
}
section.severlogs {
    width: 75%;
    margin: 0 auto;
}

@media screen and (min-width: 450px) {
	#logbox {
		width: 100%;
	}
}
@media screen and (min-width: 1000px) {
	#logbox {
		width: 70%;
	}
}
@media screen and (min-width: 1700px) {
	#logbox {
		width: 60%;
	}
}
@media screen and (min-width: 2000px) {
	#logbox {
		width: 50%;
	}
}
@media screen and (min-width: 3000px) {
	#logbox {
		width: 36%;
	}
}
#logbox {
    max-height: 350px;
    font-weight: bold;
    margin: 0 auto;
    max-height: 350px;
    background-color: white;
    overflow: auto;
    border: black 1px solid;
    padding-left: 10px;
    color: black;
    letter-spacing: 1.5px;
}
.logtext {
    margin: 10px 0 10px 0;
	width: 100%;
}
hr {
    width: 100%;
    margin: 0 auto 60px;
    border: 1px solid black;
}

#accountpopup {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.boxborder {
    text-align: center;
    margin: 10px auto;
}
div h3 {
    font-size: 23px;
    color: black;
    margin: 15px 0 5px 0
}
div h2 {
	text-align:center;
    font-size: 50px;
    margin: 40px 0 0 0;
    width: 100%;
}
div.wrapper aside {
	font-size: 18px;
    margin: auto auto 30px auto;
    font-weight: bold;
}
div.userinputs {
	display: inline-block;
	color:white;
	width: 300px;
	text-align: center;
	padding: 10px;
}
div.output {
	display: inline-block;
	color:white;
	width: 300px;
	text-align: center;
	padding: 10px;
	float: right;
}
#calculation {
    width: 90%;
    margin: 25px auto 0;
}
input {
 color:#e0e0e0;
 width:250px;
 height:40px;
 padding-left:10px;
 font-size:16px;
 background-color: #1a212d;
 border: 1px solid #0f141f;
}
select {
 color:#e0e0e0;
 width:250px;
 height:40px;
 padding-left:10px;
 font-size:16px;
 background-color: #1a212d;
 border: 1px solid #0f141f;
}
#errormsg {
    margin: 0px;
    margin-top: 15px;
    color: #ff4c4c;
    font-size: 17px;
    font-weight: bold;
}
label {
	display: inherit;
    margin: 15px auto 5px ;
    font-size: 23px;
    color: #1f2123;
	width:250px;
	text-align:left;
}
#footer {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    color: #979797;
    width: 100%;
    background-color: #0c0e13;
    bottom: 0;
}
#footer span {
    font-size: 12px;
    margin: 0 20px;
}
#footer a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
#footer a.social {
    margin: 0 20px;
}